[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"
tensorboardx = "*"

[requires]
python_version = "3.11"
